<section id="about" class="about-us">
    <div class="container">
        <div class="about-us-container">
            <div class="about-us-box">
                <h2 class="section-title">About Us</h2>
                <div class="about-us-subbox">
                    <p class="main-text">Welcome to our premium watch collection, where luxury and style meet
                        functionality and precision. Our selection of
                        timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll
                        always have a reliable
                        and stylish accessory on your wrist.</p>
                    <p class="main-text">At our premium watch collection, we believe that a watch is more than just a
                        timekeeping device - it's a statement piece
                        that reflects your personality and style. So why settle for anything less than the best?</p>
                </div>
                <a href="#catalog" class="about-us-link button-animation">View catalog</a>
            </div>
            <picture class="about-us-picture">
                <source media="(min-width: 1280px)"
                    srcset="img/about-us/About-us-desk-1-min.png 1x, img/about-us/About-us-desk-1@2x-min.png 2x">
                <source media="(min-width: 768px)"
                    srcset="img/about-us/About-us-tab-1-min.png 1x, img/about-us/About-us-tab-1@2x-min.png 2x">
                <source media="(max-width: 767px)"
                    srcset="img/about-us/About-us-mob-1-min.png 1x, img/about-us/About-us-mob-1@2x-min.png 2x">
                <img src="img/about-us/About-us-desk-1-min.png" alt="One our clock">
            </picture>
        </div>
    </div>
</section>