<section id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-card">
          <div class="image-box">
            <picture>
              <source srcset="
                  /img/catalog/desk/firstdesk1x-min.png 1x,
                  /img/catalog/desk/firstdesk2x-min.png 2x
                " media="(min-width: 1280px)" />
              <source srcset="
                  /img/catalog/tablet/firsttablet1x-min.png 1x,
                  /img/catalog/tablet/firsttablet2x-min.png 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  /img/catalog/mobl/firstmob1x-min.png 1x,
                  /img/catalog/mobl/firstmob2x-min.png 2x
                " media="(max-width: 767px)" />
              <img src="/img/catalog/mobl/firstmob1x-min.png" alt="First Watch" class="card-watch" />
            </picture>
          </div>

          <h3 class="card-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="card-descrpt">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <div class="image-box">
            <picture>
              <source srcset="
                  /img/catalog/desk/seconddesk1x-min.png 1x,
                  /img/catalog/desk/seconddesk2x-min.png 2x
                " media="(min-width: 1280px)" />
              <source srcset="
                  /img/catalog/tablet/secondtablet1x-min.png 1x,
                  /img/catalog/tablet/secondtablet2x-min.png 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  /img/catalog/mobl/secondmob1x-min.png 1x,
                  /img/catalog/mobl/secondmob2x-min.png 2x
                " media="(max-width: 767px)" />
              <img src="/img/catalog/mobl/secondmob1x-min.png" alt="Second Watch" class="card-watch" />
            </picture>
          </div>
          <h3 class="card-subtitle">Garmin Marq Athlete</h3>
          <p class="card-descrpt">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <div class="image-box">
            <picture>
              <source srcset="
                  /img/catalog/desk/thirddesk1x-min.png 1x,
                  /img/catalog/desk/thirddesk2x-min.png 2x
                " media="(min-width: 1280px)" />
              <source srcset="
                  /img/catalog/tablet/thirdtablet1x-min.png 1x,
                  /img/catalog/tablet/thirdtablet2x-min.png 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  /img/catalog/mobl/thirdmob1x-min.png 1x,
                  /img/catalog/mobl/thirdmob2x-min.png 2x
                " media="(max-width: 767px)" />
              <img src="/img/catalog/mobl/thirdmob1x-min.png" alt="Third Watch" class="card-watch" />
            </picture>
          </div>
          <h3 class="card-subtitle">Garmin Descent MK1</h3>
          <p class="card-descrpt">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <div class="image-box">
            <picture>
              <source srcset="
                  /img/catalog/desk/fourthdesk1x-min.png 1x,
                  /img/catalog/desk/fourthdesk2x-min.png 2x
                " media="(min-width: 1280px)" />
              <source srcset="
                  /img/catalog/tablet/fourthtablet1x-min.png 1x,
                  /img/catalog/tablet/fourthtablet2x-min.png 2x
                " media="(min-width: 768px)" />
              <source srcset="
                  /img/catalog/mobl/fourthmob1x-min.png 1x,
                  /img/catalog/mobl/fourthmob2x-min.png 2x
                " media="(max-width: 767px)" />
              <img src="/img/catalog/mobl/fourthmob1x-min.png" alt="Fourth Watch" class="card-watch" />
            </picture>
          </div>
          <h3 class="card-subtitle">Garmin D2 Delta PX</h3>
          <p class="card-descrpt">€380</p>
        </div>
      </li>
      <li class="catalog-item hidden">
        <div class="catalog-card">
          <div class="image-box">
            <picture>
              <source srcset="
                  /img/catalog/desk/fifthdesk1x-min.png 1x,
                  /img/catalog/desk/fifthdesk2x-min.png 2x
                " media="(min-width: 1280px)" />
              <source srcset="
                  /img/catalog/tablet/fifthtablet1x-min.png 1x,
                  /img/catalog/tablet/fifthtablet2x-min.png 2x
                " media="(min-width: 768px)" />
              <img src="/img/catalog/tablet/fifthtablet1x-min.png" alt="Fifth Watch" class="card-watch" />
            </picture>
          </div>
          <h3 class="card-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="card-descrpt">€400</p>
        </div>
      </li>
      <li class="catalog-item hidden">
        <div class="catalog-card">
          <div class="image-box">
            <picture>
              <source srcset="
                  /img/catalog/desk/sixthdesk1x-min.png 1x,
                  /img/catalog/desk/sixthdesk2x-min.png 2x
                " media="(min-width: 1280px)" />
              <source srcset="
                  /img/catalog/tablet/sixthtablet1x-min.png 1x,
                  /img/catalog/tablet/sixthtablet2x-min.png 2x
                " media="(min-width: 768px)" />
              <img src="/img/catalog/tablet/sixthtablet1x-min.png" alt="Sixth Watch" class="card-watch" />
            </picture>
          </div>
          <h3 class="card-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="card-descrpt">€395</p>
        </div>
      </li>
    </ul>
    <div class="catalog-btn no-open">
      <button type="button" class="show-btn">Show more</button>
    </div>
  </div>
</section>