<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WatchCharm</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header class="header">
    <div class="logo">watchcharm</div>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Catalog</a></li>
        <li><a href="#">Sale</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    <div class="socials">
      <use href="image/icons.svg"><img src="facebook-icon.svg" alt="facebook-icon"></use>
      <use href="image/icons.svg"><img src="instagram-icon.svg" alt="instagram-icon"></use>
      <use href="image/icons.svg"><img src="youtube-icon.svg" alt="youtube-icon"></use>
    </div>
  </header>
</body>

</html>