<header class="header" id="header">
  <div class="container head-container">
    <div class="mob-head">
      <div class="logo-box">
        <a href="./index.html" class="logo-head">watchcharm</a>
      </div>
      <div class="birger-box">
        <button
          aria-label="opem mobile navigation"
          type="button"
          class="burger-btn"
          data-open-mobnav
        >
          <svg class="kanapka" width="28" height="14">
            <use href="/img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="nav-container">
      <div class="logo-box">
        <a href="./index.html" class="logo-head">watchcharm</a>
      </div>
      <nav aria-label="header-navigation" class="top-nav">
        <ul class="top-nav-list">
          <li class="top-nav-item"><a href="#hero">Home</a></li>
          <li class="top-nav-item"><a href="#about">About Us</a></li>
          <li class="top-nav-item"><a href="#catalog">Catalog</a></li>
          <li class="top-nav-item"><a href="#sale">Sale</a></li>
          <li class="top-nav-item"><a href="#reviews">Reviews</a></li>
          <li class="top-nav-item"><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <div class="head-soc-box">
        <ul class="head-soc-list">
          <li class="head-soc-item">
            <a
              href="https://www.facebook.com/goITclub"
              target="_blank"
              aria-label="Visit GoIT Facebook "
              class="soc-link"
              ><svg class="top-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-Facebook"></use></svg
            ></a>
          </li>
          <li class="head-soc-item">
            <a
              href="https://www.instagram.com/goitclub"
              target="_blank"
              aria-label="Visit GoIT Instagram"
              class="soc-link"
              ><svg class="top-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="head-soc-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              aria-label="Visit GoIT YouTube"
              class="soc-link"
              ><svg class="top-icon" width="20" height="20">
                <use href="/img/sprite.svg#icon-YouTube"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
