<section class="hero" id="hero">
    <div class="container ">
        <div class="hero-container">
            <div class="">
                <h1 class="hero-title">Welcome to our <span class="hero-collection">collection</span> of premium watches
                </h1>
                <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and
                    lifestyle. From classic designs to
                    modern ones, we have a watch to suit every taste and occasion.</p>
            </div>
            <div class="hero-people">
                <ul class="hero-people-list">

                    <li class="people-list">
                        <a href="">
                            <img srcset="/img/images-hero/face1-1x.png 1x, /img/images-hero/face1-2x.png 2x"
                                src="/img/images-hero/face1-1x.png" alt="girl1" class="hero-face">
                        </a>
                    </li>
                    <li class="people-list"><a href="">
                            <img srcset="/img/images-hero/face2-1x.png 1x, /img/images-hero/face2-2x.png 2x"
                                src="/img/images-hero/face2-1x.png" alt="man1" class="hero-face">
                        </a></li>
                    <li class="people-list"><a href="">
                            <img srcset="/img/images-hero/face3-1x.png 1x, /img/images-hero/face3-2x.png 2x"
                                src="/img/images-hero/face3-1x.png" alt="girl2" class="hero-face">
                        </a></li>
                </ul>
                <a href="#footer" class="scroll-down">Scroll down</a>
            </div>
        </div>
        <picture class="watch-hero">
         <source srcset="/img/images-hero/watch-hero-1x.jpg 1x, /img/images-hero/watch-hero-2x.jpg 2x" media="(min-width:1280px)" />
        <source srcset="/img/images-hero/watch-hero-tab-1x.jpg 1x, /img/images-hero/watch-hero-tab-2x.jpg 2x"
            media="(min-width:768px)" />

            <source srcset="/img/images-hero/watch-hero-mob-1x.jpg 1x, /img/images-hero/watch-hero-mob-2x.jpg 2x"
                media="(max-width:767px)" />
            <img src="/img/images-hero/watch-hero-1x.jpg" alt="watch" width="1150" />

        </picture>
    </div>
</section>