<div class="mob-nav" data-modal-mobnav>
  <div class="mob-nav-background">
    <div class="mob-container">
      <button class="close-mod" type="button" data-clos-mod>
        <svg class="close-ico" width="17" height="17">
          <use href="/img/sprite.svg#icon-xxx"></use>
        </svg>
      </button>
      <nav aria-label="mobile-menu" class="mobil-menu">
        <ul class="mob-list">
          <li class="mob-item"><a href="#hero">Home</a></li>
          <li class="mob-item"><a href="#about">About Us</a></li>
          <li class="mob-item"><a href="#catalog">Catalog</a></li>
          <li class="mob-item"><a href="#sale">Sale</a></li>
          <li class="mob-item"><a href="#reviews">Reviews</a></li>
          <li class="mob-item"><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <div class="mob-soc-box">
        <a href="" class="mob-soc-link"
          ><svg class="mob-icon" width="18" height="18">
            <use href="/img/sprite.svg#icon-Facebook"></use></svg
        ></a>
        <a href="" class="mob-soc-link"
          ><svg class="mob-icon" width="18" height="18">
            <use href="/img/sprite.svg#icon-instagram"></use></svg
        ></a>
        <a href="" class="mob-soc-link"
          ><svg class="mob-icon" width="18" height="18">
            <use href="/img/sprite.svg#icon-YouTube"></use></svg
        ></a>
      </div>
    </div>
  </div>
</div>
