<div class="mob-nav open" data-modal-mobnav>
  <div class="mob-nav-background">
    <div class="mob-container">
      <button class="clos-mod" type="button" data-clos-mod>
        <svg class="xxx" width="20" height="20">
          <use href=""></use>
        </svg>
      </button>
      <nav aria-label="mobile-menu" class="mobil-menu">
        <ul class="mob-list">
          <li class="mob-item"><a href="#hero">Home</a></li>
          <li class="mob-item"><a href="#about">About Us</a></li>
          <li class="mob-item"><a href="#catalog">Catalog</a></li>
          <li class="mob-item"><a href="#sale">Sale</a></li>
          <li class="mob-item"><a href="#reviews">Reviews</a></li>
          <li class="mob-item"><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <div class="mob-soc-box">
        <a href="" class="mob-soc-link"
          ><svg class="mob-icon" width="20" height="20">
            <use href=""></use></svg
        ></a>
        <a href="" class="mob-soc-link"
          ><svg class="mob-icon" width="20" height="20">
            <use href=""></use></svg
        ></a>
        <a href="" class="mob-soc-link"
          ><svg class="mob-icon" width="20" height="20">
            <use href=""></use></svg
        ></a>
      </div>
    </div>
  </div>
</div>
