<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="section-title reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <img
          srcset="
            /img/reviews/ellipse-1-1x-min.png 1x,
            /img/reviews/ellipse-1-2x-min.png 2x
          "
          src="/img/reviews/ellipse-1-1x-min.png"
          alt="man with dark hair"
          width="56"
          height="56"
          class="reviews-foto"
        />
        <h3 class="content-reviews-title">John Wax</h3>
        <p class="main-text reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-list-item review-hidden-one">
        <img
          srcset="
            /img/reviews/ellipse-2-1x-min.png 1x,
            /img/reviews/ellipse-2-2x-min.png 2x
          "
          src="/img/reviews/ellipse-2-1x-min.png"
          alt="woman with blond hair"
          width="56"
          height="56"
          class="reviews-foto"
        />
        <h3 class="content-reviews-title">Victoria Romashenko</h3>
        <p class="main-text reviews-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-list-item review-hidden-two">
        <img
          srcset="
            /img/reviews/ellipse-3-1x-min.png 1x,
            /img/reviews/ellipse-3-2x-min.png 2x
          "
          src="/img/reviews/ellipse-3-1x-min.png"
          alt="woman with dark hair"
          width="56"
          height="56"
          class="reviews-foto"
        />
        <h3 class="content-reviews-title">Anastasia Trachuk</h3>
        <p class="main-text reviews-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
