<section class="sale" id="sale">
    <div class="container">
        <h2 class="section-title sale-title">Sale</h2>
        <div class="sale-all-box">
            <div class="sale-img-box">
                <ul class="sale-img-list">
                    <li class="sale-img-item">
                        <img srcset="/img/sale-img/sale-clock-1-min.png 1x, /img/sale-img/sale-clock-1@2x-min.png 2x"
                            src="/img/sale-img/sale-clock-1-min.png" alt="Garmin clock">
                    </li>
                    <li class="sale-img-item">
                        <img srcset="/img/sale-img/sale-clock-2-min.png 1x, /img/sale-img/sale-clock-2@2x-min.png 2x"
                            src="/img/sale-img/sale-clock-2-min.png" alt="Garmin clock">
                    </li>
                    <li class="sale-img-item">
                        <img srcset="/img/sale-img/sale-clock-3-min.png 1x, /img/sale-img/sale-clock-3@2x-min.png 2x"
                            src="/img/sale-img/sale-clock-3-min.png" alt="Garmin clock">
                    </li>
                    <li class="sale-img-item">
                        <img srcset="/img/sale-img/sale-clock-4-min.png 1x, /img/sale-img/sale-clock-4@2x-min.png 2x"
                            src="/img/sale-img/sale-clock-4-min.png" alt="Garmin clock">
                    </li>
                </ul>
                <div class="sale-big-img">
                    <img srcset="/img/sale-img/sale-clock-5-min.png 1x, /img/sale-img/sale-clock-5@2x-min.png 2x"
                        src="/img/sale-img/sale-clock-5-min.png" alt="Garmin clock">
                </div>
            </div>
            <div class="sale-info">
                    <h3 class="sale-info-subtitle">MARQ&#174; Commander (Gen 2) - Carbon Edition</h3>
                    <p class="sale-info-subparagraph">Product tag: 706587</p>
                    <div class="sale-info-price">
                            <p class="sale-info-price-first">&#8364;1500</p>
                            <p class="sale-info-price-second">&#8364;3000</p>
                    </div>
                    <p class="sale-info-paragraph">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
                        adventurers that takes materials and features
                        to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a
                        precise AMOLED
                        touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
                    </p>
                    <ul class="sale-info-list">
                        <li class="sale-info-item">Fused carbon fiber </li>
                        <li class="sale-info-item">Grade-5 Titanuim</li>
                        <li class="sale-info-item">Athlete</li>
                        <li class="sale-info-item">Golfer</li>
                        <li class="sale-info-item">Commander</li>
                        <li class="sale-info-item">Adventurer</li>
                    </ul>
            </div>
        </div>
    </div>
</section>